---
<center>

# **TALLER 1**

Escriba los nombres
---

## A Continuación se carga y se muestra una base de datos sobre los graduados en Colombia en el periodo de 2018-2021.

In [1]:
import pandas as pd
graduados=pd.read_excel("https://github.com/Wilsonsr/Programacion-en-Lenguajes-Estadisticos/raw/main/BASES/graduados_2018_2021.xlsx")
graduados.head(5)

,CÓDIGO DE LA INSTITUCIÓN,IES_PADRE,INSTITUCIÓN DE EDUCACIÓN SUPERIOR (IES),PRINCIPAL O SECCIONAL,ID SECTOR IES,SECTOR IES,ID CARACTER,CARACTER IES,CÓDIGO DEL DEPARTAMENTO (IES),DEPARTAMENTO DE DOMICILIO DE LA IES,...,NÚCLEO BÁSICO DEL CONOCIMIENTO (NBC),CÓDIGO DEL DEPARTAMENTO (PROGRAMA),DEPARTAMENTO DE OFERTA DEL PROGRAMA,CÓDIGO DEL MUNICIPIO (PROGRAMA),MUNICIPIO DE OFERTA DEL PROGRAMA,ID SEXO,SEXO,AÑO,SEMESTRE,GRADUADOS
0,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,Principal,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,"Ingeniería agronómica, pecuaria y afines",11,BOGOTA D.C,11001,BOGOTA D.C.,1,Hombre,2018,1,16
1,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,Principal,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,"Ingeniería agronómica, pecuaria y afines",11,BOGOTA D.C,11001,BOGOTA D.C.,1,Hombre,2018,2,35
2,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,Principal,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,"Ingeniería agronómica, pecuaria y afines",11,BOGOTA D.C,11001,BOGOTA D.C.,2,Mujer,2018,1,17
3,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,Principal,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,"Ingeniería agronómica, pecuaria y afines",11,BOGOTA D.C,11001,BOGOTA D.C.,2,Mujer,2018,2,12
4,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,Principal,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,Medicina veterinaria,11,BOGOTA D.C,11001,BOGOTA D.C.,1,Hombre,2018,1,8

**Cual es el total de graduados en el país de 2018-2021 diferenciando pregrado y posgrado  ¿de estos cuantos son mujeres y cuantos so hombres?**

In [4]:
# Escriba su código

**Cree un DataFrame llamada `nuevo_garduados`  que contenga sólo las columnas `AÑO`, `PROGRAMA ACADÉMICO`,`SEXO`, `SEMESTRE`, `GRADUADOS` en ese orden. Imprima el encabezado.**

In [5]:
# Escriba su código

**Para el área del conocimiento de Ciencias de la Salud indique el número de  tecnicos, tecnologos y universitarios se han graduado por año**

In [6]:
# Escriba su código

**¿Cuantos Estudiantes estudiantes se han graduado desde el año 2018 de la Especialización en estadística aplicada de la fundacion universitaria los libertadores?**

In [7]:
# Escriba su código

**De acuerdo con la base de datos  de cuantos programas  de medicina  en Bogotá hubo graduados  Además elabore una tabla que indique  los graduados semestre a semestre desde 2018 de estos programas**

In [8]:
# Escriba su código

 **Indique el Número de programas en 2021 por nivel de formación y sector**

In [9]:
# Escriba su código

**Indicar la cantidad de programas por metodología y por nivel académico  por cada departamento**

In [10]:
#Escriba su código

Considere la siguiente base de datos de población(DANE) por departamento en Colombia de los años 2018-2021

In [12]:
poblacion=pd.read_excel("https://github.com/Wilsonsr/Programacion-en-Lenguajes-Estadisticos/raw/main/BASES/poblacion.xlsx")
poblacion

,Codepto,DEPARTAMENTO,2018,2019,2020,2021
0,5,ANTIOQUIA,6407102,6550206,6677930,6782584
1,8,ATLÁNTICO,2535517,2638151,2722128,2771139
2,11,"BOGOTÁ, D.C.",7412566,7592871,7743955,7834167
3,13,BOLÍVAR,2070110,2130512,2180976,2213061
4,15,BOYACÁ,1217376,1230910,1242731,1251675
5,17,CALDAS,998255,1008344,1018453,1027314
6,18,CAQUETÁ,401849,406142,410521,414841
7,19,CAUCA,1464488,1478407,1491937,1504044
8,20,CESAR,1200574,1252398,1295387,1322466
9,23,CÓRDOBA,1784783,1808439,1828947,1844076
10,25,CUNDINAMARCA,2919060,3085522,3242999,3372221
11,27,CHOCÓ,534826,539933,544764,549225
12,41,HUILA,1100386,1111844,1122622,1131934
13,44,LA GUAJIRA,880560,927506,965718,987781
14,47,MAGDALENA,1341746,1388832,1427026,1449087
15,50,META,1039722,1052125,1063454,1072412
16,52,NARIÑO,1630592,1628981,1627589,1627386
17,54,NORTE DE SANTANDER,1491689,1565362,1620318,1642746
18,63,QUINDÍO,539904,547855,555401,562117
19,66,RISARALDA,943401,952511,961055,968626
20,68,SANTANDER,2184837,2237587,2280908,2306455
21,70,SUCRE,904863,928984,949252,962457
22,73,TOLIMA,1330187,1335313,1339998,1343898
23,76,VALLE DEL CAUCA,4475886,4506768,4532152,4556752
24,81,ARAUCA,262174,280109,294206,301270
25,85,CASANARE,420504,428563,435195,439238
26,86,PUTUMAYO,348182,353759,359127,364085
27,88,"ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANT...",61280,62482,63692,64672
28,91,AMAZONAS,76589,77753,79020,80464
29,94,GUAINÍA,48114,49473,50636,51450
30,95,GUAVIARE,82767,84716,86657,88490
31,97,VAUPÉS,40797,42721,44712,46808
32,99,VICHADA,107808,110599,112958,114557

Leer el siguiente artículo 
https://orientacion.universia.net.co/infodetail/orientacion/consejos/departamentos-que-destacan-en-educacion-superior-5799.html 

calcular  el  número de graduados en posgrado por cada 100.000 habitantes para cada uno de los departamentos para cada año y departamento analizar los resultados